# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye carpeta FreeRTOS_TAD_logs
/FreeRTOS_TAD_logs/

#Excluir carpetas temporales
/FRDM_KL02Z_Proyecto/debug/
/FRDM_KL02Z_Proyecto/release/
/FRDM_KL02Z_Proyecto/doc/